{% load movies_extras %}

<!DOCTYPE html>
<html>
<head>
    <title>{{ movie.title }}</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>{{ movie.overview }}</p>
    <h2>Reviews</h2>
    <ul>
        {% for review in movie.reviews.all %}
            <li>
                {{ review.user.username }}: 
                {% for _ in review.rating|make_range %}
                    <span style="color: gold;">★</span>
                {% endfor %}
                - {{ review.comment }}
                <a href="{% url 'edit_review' review.movie_id %}">Edit</a>
                <a href="{% url 'delete_review' review.movie_id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'add_review' movie.id %}">Add Review</a>
</body>
</html>
